#category{
    margin-top: 5%;
    text-align: left;
    /* position: relative; */
    position: initial;
    z-index: 1;
    /* padding-top: 4%; */
    min-height: 125vh;
    margin-left: 1%;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    margin-left: 2%;
}
.cat_pic{
    width: 3%;
}
.box{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
   
}
.all_img{
    width:70%;
    align-self: center;
    padding-top: 10px;
}
.cat_img_all{
    width:80%;
    height: 60%;
    align-self: center;
}
.my-card{
    /* height: 35vh; */
}