.sub{
    margin-top: 6%;
}
#subtopic{
    text-align: left;
    /* position: relative; */
    position: initial;
    z-index: 1;
    padding-top: 4%;
    min-height: 125vh;
    margin-left: 1%;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    
    
}
.subtopics{
    margin-left: 0;
    margin-top: 15px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}
.card-text{
    text-align: center;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}
.all_img{
    width:70%;
    align-self: center;
    padding-top: 10px;
}
.card_text{
    text-align: center;
}
.my_card{
    margin-left: 3%;
}